@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
   }

   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure,
   footer, header, hgroup, menu, nav, section {
    display: block;
   }

   /* Force scrollbar */
   html { overflow-y: scroll; }

   /* Align radios and text inputs with their label */

   input[type='radio'] { vertical-align: text-bottom; }

   /* Hand cursor on clickable input elements */
   label,
   input[type='button'],
   input[type='submit'],
   button {
    cursor: pointer;
   }

   strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
   }

   em { font-style: italic; }

   img {
    border: 0;
    vertical-align: middle;
   }

   sub,
   sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
   }

   sup { top: -.7em; }

   sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

 .futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
 }

 /* ======= Your styling goes below ======= */
 .container
 {
  box-sizing: border-box;
 }
 a
 {
  text-decoration: none;
 }
 ul
 {
  list-style-type: none;
 }
header
{
  background-color: #282828;
}
header .wrapper
{
  max-width: 1062px;
  width: 83%;
  margin:0 auto;
}
header h1
{
  width: 20%;
  display: inline-block;
}
header h1 span
{
  display: none;
}
header nav
{
  width: 57%;
  display: inline-block;
  list-style-type: none;
  margin-left: 230px;
}
nav ul li
{
  display: inline-block;
  padding-left: 26px;
  padding-top: 32px;
  padding-bottom: 30px;
}
nav ul li a
{
  color: white;
  text-decoration: none;
  text-transform: capitalize;

}
nav ul li a span
{
  background-color:#ED5C56;
  padding: 21px;
  border-radius: 8px;
}
.banner 
{
  position: relative;
  box-shadow: 15px 15px 10px 10px #e3e2dd;

}
.banner .custom{
  width: 100%;

}
.banner .comments
{
  position: absolute;
  top: 360px;
}
.banner .comments a
{
  display: block;
  padding: 17px 15px;
  background-color: #00A7A4;
  color: white;
  font-size: 23px;
  box-shadow: 1px 3px #4bb6b3

}
.banner .comments .twitter
{
  background-color: #A7E4E0;
}
.banner .wrapper
{ 
  max-width: 1062px;
  width: 83%;
  margin:0 auto;
}
.banner .content
{
  position: absolute;
  top: 70px;
}
.banner .wrapper .content h3
{
  padding-left: 176px;
  font-size: 33px;
  color: white;
}
.banner .wrapper .content img
{
padding-left: 343px;
padding-top: 48px;
display: block;
}
.banner .wrapper a
{
  background-color: #ED5C56;
  margin-left: 432px;
  margin-top: 50px;
  display: inline-block;
  padding-right: 10px;
  padding-top: 28px;
  font-size: 24px;
  color: white;
  padding-bottom: 22px;
  border-radius: 8px;
  width: 307px;
  text-transform: capitalize;
  box-shadow: 1px 2px 10px #976b6a;
}
.banner .wrapper a span
{
  font-size: 25px;
  color: white;
  padding-right: 8px;
  padding-left: 53px;
  padding-top: 20px;
} 
section
{
  width: 100%;
}
section .wrapper
{

  max-width: 1062px;
  width: 83%;
  margin:0 auto; 
  
  padding-top: 67px;
}
section .wrapper h3
{
  font-size: 30px;
  text-align: center;
  color: grey;
  text-transform: capitalize;
}
section .wrapper span
{
  font-size: 20px;
  color: #69CAC6 ;
  margin-top: 25px;
  margin-bottom: 66px;
  display:block;
  text-align: center;
  text-transform: capitalize;
}


section .wrapper .lists
{
  width: 100%;
}
.lists ul .services
{
  display: inline-block;
  width: 248px;
  margin-left: 88px;
}
.lists ul .services .view-services
{
  margin-top: 31px;
  color: #69CAC6;
  display: inline-block;
}
.services .image-wrapper img
{
  border-radius: 5px;
  box-shadow: 1px 8px 10px #212c33;
}
.services h4
{
  font-size: 27px;
  margin-top: 50px;
  margin-bottom: 21px;
  color: #69CAC6;
  text-transform: capitalize;
}
.services .links
{
  margin-top: 20px;
}
.services .links li
{
  margin-bottom: 14px;
}
.services .links li::before
{
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #69CAC6;
}
.services .links li a
{
  margin-left: 5px;
}
.services .view-services
{
  margin-bottom: 42px;
}